body {
    background-color: #d1e042;
    font-family: Verdana;
    text-align: center;
  }
      .heading {
      text-align: center;
      font-weight: 500;
      font-family: Arial, Copperplate, Fantasy;
      font-size: 25px;
      color: #c5321f;
      }
  
  .box {
    margin-bottom: 25px;
          background-color: #fff;
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 2px 5px 10px rgba(253, 0, 0, 0.5);
          align-self: center;
      }
      
      .box, input {
    border: 1px solid #777;
    font-family: serif;
          font-size: 15px;
    padding: 10px;
    width: 95%;
          text-align: center;
  }
  
      .submit, input [type="submit"]  {
          border: 1px solid #777;
          text-align: center;
      }
